button {
  display: inline-block;
  color: #fff;
  background: #ff5a5f;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 64px;
  margin-bottom: 24px;
  border-radius: 2px;
}
button:disabled {
  background: #e0e0e0;
  color: grey;
}

.App {
  max-width: 800px;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

img {
  margin-bottom: 30px;
  width: 100%;
}

.install-button {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
